<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBxiRAus5G-hfo7sqR_0FrR1ZRFMIOUIY&sensor=false">
    </script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<script type="text/javascript" src="/assets/underscore-min.js"></script>


<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Map</a></p>
    <div class="content" data-section-content>
      <div id='map' data-section-content> </div>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="panel3"> Search</a></p>
    <div class="content" data-section-content>
      <h3> Specify your criteria: </h3>
      <div class="row">
        <div class="large-4 columns">
        <%= form_tag({controller: "home", action: "search"} , method: "post") do %>
          <label for="category"> Category </label>
          <%= select_tag("category", 
            options_from_collection_for_select(@cats, 'id', 'name')) %>
        <% end %>
        </div>

      </div>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Add</a></p>
    <div class="content" data-section-content>
      <div class="row add-form-slider">        
        <div class="add-form-content"> 
          <!-- <div class=" large- columns"> -->
            <%= form_tag({controller: "home", action: "add"} , method: "post") do %>
              <h3> Add Event </h3>
              <div class="row collapse">
                <div class="small-10 columns">
                  <%= text_field 'event_id', nil, :placeholder => 'Enter facebook event id here...' %> 
                  <label for="category1"> Category </label>
                  <%= select_tag("category1", 
                    options_from_collection_for_select(@cats, 'id', 'name')) %>
                </div>
                <div class="small-2 columns">
                  <%= submit_tag("Add", class:"button prefix") %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- 
<div class="row add-form-slider">
  <div class="add-form-icon">
    <p> + </p>
  </div>
  <div class="add-form-content"> 
      <%= form_tag({controller: "home", action: "add"} , method: "post") do %>
      	<h3> Add Event </h3>
        <div class="row collapse">
          <div class="small-10 columns">
            <%= text_field 'event_id', nil, :placeholder => 'Enter facebook event id here...' %> 
          </div>
          <div class="small-2 columns">
            <%= submit_tag("Add", class:"button prefix") %>
          </div>
        </div>
    </div>
  <% end %>
  </div>
</div>
<div id='map' > </div> -->