<html>
<head>
</head>
<body>
<table>
<tr><td>ID</td><td>title</td><td>description</td><td>owner</td><td>lat</td><td>lon</td><td>attendings</td></tr>

<% for event in @events %>
	<tr>
		<td><%= event.event_id %></td>
		<td><%= event.title %></td>
		<td><%= event.description %></td>
		<td><%= event.owner %></td>
		<td><%= event.lat %></td>
		<td><%= event.lon %></td>
		<td><%= event.attending %></td>
	</tr>
<% end %>

</table>
</body>
</html>